@font-face {
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("./instrument-sans-normal-latin.woff2") format("woff2");
}

@font-face {
    font-family: "Instrument Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("./instrument-sans-italic-latin.woff2") format("woff2");
}

@font-face {
    font-family: "Instrument Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./instrument-serif-normal-latin.woff2") format("woff2");
}

@font-face {
    font-family: "Instrument Serif";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("./instrument-serif-italic-latin.woff2") format("woff2");
}

@font-face {
    font-family: "Zalando Sans Expanded";
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("./zalando-sans-expanded-latin.woff2") format("woff2");
}
